/*
= HEADER AND NAVIGATION
------------------------------------------------------------------------------------- */
header {
	position: fixed; z-index: 9998;
	width: 100%;
	padding: 20px 0;
	@include visibility();
	@include transform($y: -110%);
	@include transition(600ms cubic-bezier(0.215, 0.61, 0.355, 1));
	background-color: white;
	.wrapper {
		display: flex; justify-content: space-between; align-items: center;
		.logo {
			width: 73px; height: 90px;
			text-align: left; text-indent: -9999px;
			background: url(../img/logo.svg) 50% 50% no-repeat; background-size: contain;
		}
		nav {
			display: flex; align-items: center;
			.main-nav {
				li {
					display: inline-block;
					margin-right: 30px;
					font-size: 16px; line-height: 32px; font-weight: 500;
					a {
						position: relative;  display: block;
						color: $color-text;
						&:after {
							content: "";
							position: absolute; left: 0; bottom: -5px;
							width: 0; height: 1px;
							background-color: $color-dark;
							@include transition(600ms cubic-bezier(0.215, 0.61, 0.355, 1));
						}
						&:hover {
							color: $color-dark;
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
			.btn {
				margin-left: 20px;
			}
		}
	}
}

// Initial animation
.init-anim {
	header {
		@include transform();
	}
}

// Scrolling animation
.going-down {
	header {
		@include transform($y: -100%);
	}
}
.going-up {
	header {
		@include transform();
	}
}
